<h1>Login</h1>
<form class="form" [formGroup]="form">
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput  placeholder="Username" >
    @if (username?.errors) {<mat-error>Username Required</mat-error>}
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Password</mat-label>
  <input matInput type="password"  placeholder="Password" >

  @if (password?.errors) {<mat-error> Password Required</mat-error>}
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">Submit</button>
</form>